.header {
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.header > nav {
  width: 100%;
}

.header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 2% auto;
  justify-content: space-between;
}

.header > nav > ul > li > * {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
